<html>
  <head>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      .font-capitalize {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">Microblog</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a class="p-2 text-dark" href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a
          class="p-2 text-dark"
          href="{{ url_for('user', username=current_user.username) }}"
          >Profile</a
        >
        <a class="p-2 text-dark" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 m-auto">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item list-group-item-warning">
              {{ message }}
            </li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
