{% extends "base.html" %} {% block app_content %}

<div class="row">
  <div class="col-md-6 col-sm-12 col-md-offset-3">
    <h1>Sign In</h1>
    <form action="/login" method="post" novalidate class="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label }}<br />
        {{ form.username(size=32,class="form-control") }}
        {% for error in form.username.errors %}
        <div class="invalid-feedback">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label }}<br />
        {{ form.password(size=32, class="form-control") }}
        {% for error in form.password.errors %}
        <div class="invalid-feedback">[{{ error }}]</div>
        {% endfor %}
      </div>
      <div class="form-group form-check">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label(class="form-check-label") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-success pull-right") }}
      </div>
      <p>
        <a href="{{ url_for('register') }}">New User?</a> <br />
        <a href="{{ url_for('reset_password_request') }}">Forgot Password</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}
