{% extends "base.html" %} {% block app_content %}
<div class="container">
  <div class="row" style="margin-bottom: 25px">
    <div class="col-xs-5 col-sm-5 col-md-3">
      <img src="{{ user.avatar(64) }}" />
    </div>
    <div class="col-xs-7 col-sm-7 col-md-9 text-right">
      <div>
        {{ _('Hi, %(username)s!', username=current_user.username) }}
      </div>
      {% if user.last_seen %}
      <div>
        {{ _("Last seen on") }} : {{ moment(user.last_seen).format("LLL") }}
      </div>
      {% endif %}
      <div>
        {{ _('%(count)d followers', count=user.followers.count()) }},
        {{ _('%(count)d following', count=user.followed.count()) }}
      </div>
      {% if user == current_user %}
      <div>
        <a href="{{ url_for('edit_profile') }}">
          {{ _("Edit your profile") }}
        </a>
      </div>
      {% elif not current_user.is_following(user) %}
      <div>
        <a href="{{ url_for('follow', username=user.username) }}">
          {{ _("Follow") }}
        </a>
      </div>
      {% else %}
      <div>
        <a href="{{ url_for('unfollow', username=user.username) }}">
          {{ _("Unfollow") }}
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="well well-sm">
    {% if user.about_me %}
    <blockquote>
      {{ user.about_me }}
    </blockquote>
    {% endif %}
  </div>
  <div class="row">
    <ul class="list-group">
      {% for post in posts %}
      <li class="list-group-item">
        {% include '_post.html' %}
      </li>
      {% endfor %}
    </ul>
    <div class="row justify-content-between" style="padding: 25px">
      <div class="col-3 text-left">
        {% if prev_url %}
        <a class="btn btn-info" href="{{ next_url }}">{{ _("Older posts") }}</a>
        {% endif %}
      </div>
      <div class="col-3 text-right">
        {% if next_url %}
        <a class="btn btn-info" href="{{ prev_url }}">{{ _("Newer posts") }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
