{% extends "base.html" %} {% block app_content %}
<div class="container">
  <div class="row" style="margin-bottom: 25px">
    <div class="col-md-3 col-sm-5">
      <img src="{{ user.avatar(64) }}" />
    </div>
    <div class="col-md-9 col-sm-7 text-right">
      <div class="font-capitalize">{{ user.username }}</div>
      {% if user.last_seen %}
      <div>Last seen on: {{ moment(user.last_seen).format("LLL") }}</div>
      {% endif %} {% if user == current_user %}
      <div><a href="{{ url_for('edit_profile') }}">Edit your profile</a></div>
      {% elif not current_user.is_following(user) %}
      <div>
        <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
      </div>
      {% else %}
      <div>
        <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="well well-sm">
    {% if user.about_me %}
    <blockquote>
      {{ user.about_me }}
    </blockquote>
    {% endif %}
  </div>
  <div class="row">
    <ul class="list-group">
      {% for post in posts %}
      <li class="list-group-item">
        {% include '_post.html' %}
      </li>
      {% endfor %}
    </ul>
    <div class="row justify-content-between" style="padding: 25px">
      <div class="col-3 text-left">
        {% if prev_url %}
        <a class="btn btn-info" href="{{ next_url }}">Older posts</a>
        {% endif %}
      </div>
      <div class="col-3 text-right">
        {% if next_url %}
        <a class="btn btn-info" href="{{ prev_url }}">Newer posts</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
